<div class="footer">
{{#if this.gameService.isMatchOver}}
    <div class="winner-info">
      {{this.winner}}
    </div>
{{/if}}
<button
  class="reset-button"
  id="reset-button"
  {{on "click" this.resetGame}}
>Reset</button>
 </div>