<div class="grid-container {{if this.gameService.showPlayerSelection "container-m" "container-l"}}">
  {{#each this.gameService.gameData as |item|}}
    <GridContainer::GridItem
      @item={{item}}
      @updatePlayer={{this.updatePlayer}}
    />
  {{/each}}
</div>