<div class={{"grid-container"}}>
  {{#each this.playerService.gameData as |item|}}
    <GridContainer::GridItem
      @item={{item}}
      @updatePlayer={{this.updatePlayer}}
    />
  {{/each}}
</div>