<div class="header">
  {{#if this.gameService.showPlayerSelection}}
    <div class="choose-player">Choose your player</div>
    <div class="radio-group">
      <label class="radio-container">
        X
        <input
          type="radio"
          name="radio"
          checked="checked"
          {{on "change" (fn this.updatePlayer "X")}}
        />
        <span class="checkmark"></span>
      </label>
      <label class="radio-container">
        O
        <input
          type="radio"
          name="radio"
          {{on "change" (fn this.updatePlayer "O")}}
        />
        <span class="checkmark"></span>
      </label>
    </div>
  {{else}}
    <div class="player-info">{{this.gameService.currentPlayer}}'s turn</div>
  {{/if}}
</div>