.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.reset-button {
    background-color: #52b788;
    color: white;
    padding: 12px 24px;
    font-size: 1.5rem;
    box-shadow: 4px 4px rgb(0 0 0 / 30%);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.reset-button.beat {
    animation: beat 0.3s ease;
}

.winner-info {
    font-size: 2.5rem;
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}

@media (width <= 720px) {
    .footer  {
        flex-direction: column;
    }
}

@media (width <= 500px) {
    .winner-info  {
        font-size: 2rem;
    }
}


@media (width <= 400px) {
    .winner-info  {
        font-size: 1.75rem;
    }
}

@media (width <= 320px) {
    .winner-info  {
        font-size: 1.5rem;
    }
    .reset-button {
        font-size: 1rem;
    }
}