.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 50vw;
  padding: 2rem;
  margin: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  background: #fff;
}

.container-m {
  height: 60vh;
}

.container-l {
  height: 70vh;
}

.grid-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media (width <= 720px) {
  .container-l {
    height: 65vh;
  }
}