.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.select-player {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.choose-player {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: #252422;
}

input[type="radio"] {
    display: none;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.radio-container {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 1px rgb(0 0 0 / 30%);
}

.checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d3d3d3;
    border-radius: 50%;
}

input:checked~.checkmark {
    background-color: #52b788;
    box-shadow: 2px 2px rgb(0 0 0 / 30%);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.player-info {
    font-size: 2.5rem;
    display: flex;
    height: 100%;
    align-items: center;
}

@media (width <=305px) {
    .header {
        gap: 1.5rem;
    }
    .radio-group {
        flex-direction: column;
        gap: 2rem;
    }

    .radio-container {
        font-size: 2.5rem;
    }
    
    .choose-player {
        font-size: 2rem;
    }
}

@media (width <=250px) {
    .choose-player {
        text-align: center;
    }
}