<button
  id={{this.item.id}}
  type="button"
  {{on "click" (fn this.updatePlayer this.item.id)}}
  class="grid-item beat {{if this.isClickedOrMatchOver 'disable'}}"
>
  <div>{{this.item.player}}</div>
</button>